<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Color principal - #8748bc: Este color será el más destacado, ideal para botones, enlaces importantes y elementos interactivos.
    
    Color de fondo - #f8f8f8: Perfecto para el fondo principal de la página, proporcionando una base limpia y clara.
    
    Color de acento - #ffb74d: Un tono cálido y brillante para resaltar detalles o elementos secundarios.
    
    Color secundario - #86bcb7: Un verde suave que complementa bien al morado, ideal para secciones o banners.
    
    Color de texto - #333333: Un gris oscuro para el texto principal, que contraste bien con el fondo claro. -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Libitina Virtual Books|Menu Libro</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link th:href="@{/imagenes/logo/L_cuadrado.png}" rel="icon" type="image/png">

        <style>
            body {
                background-color: #f8f8f8;
            }

            .text-custom {
                color: #333333;
            }

            .custom-btn {
                background-color: rgb(110, 56, 155);
                color: white;
            }

            .custom-btn:hover {
                background-color: rgb(74, 37, 104);
                color: white;
            }

            .estrella-amarilla {
                color: #ffdc80;
            }

            .card-hover {
                transition: transform 0.3s ease, box-shadow 0.3s ease;
            }

            .card-hover:hover {
                transform: scale(1.03);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }

            /* modal */

            .gradient-custom-2 {
                background: #fccb90;
                background: -webkit-linear-gradient(to right, #8748bc, #8b49d1, #8b49d1, #996deb);
                background: linear-gradient(to right, #8748bc, #8b49d1, #8b49d1, #996deb);
            }

            @media (min-width: 768px) {
                .gradient-form {
                    height: 100vh !important;
                }
            }

            @media (min-width: 769px) {
                .gradient-custom-2 {
                    border-top-right-radius: .3rem;
                    border-bottom-right-radius: .3rem;
                }
            }

            .login-btn {
                transition: box-shadow 0.3s ease;
            }

            .login-btn:hover {
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
            }

            .btn-outline-morado {
                color: #8748bc;
                border-color: #8748bc;
            }

            .btn-outline-morado:hover,
            .btn-outline-morado:focus,
            .btn-outline-morado:active,
            .btn-outline-morado.active,
            .btn-outline-morado:not(:disabled):not(.disabled):active {
                color: #fff;
                background-color: #8748bc;
                border-color: #8748bc;
            }
        </style>



    </head>

    <body>


        <!--        <div th:replace="Encabezado :: header"></div>-->
        <nav class="navbar navbar-expand-lg bg-light text-dark" data-bs-theme="light">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" th:href="@{/index}">
                    <img th:src="@{/imagenes/logo/L_largoN.png}" alt="" height="40px">
                </a>

                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menucito">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menucito">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link text-dark" th:href="@{/Libreria}">Libros</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" th:href="@{/nosotros}">Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" th:href="@{/SubirLibro}">Sube tu libro</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <!-- Opciones visibles solo para usuarios autenticados -->
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link text-dark" href="#"><i class="bi bi-heart"> Mis gustas</i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                <i class="bi bi-person"></i>
                                <span sec:authentication="name">Usuario</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li sec:authorize="isAnonymous()">
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalitoLog">Login</a>
                                </li>
                                <li sec:authorize="isAnonymous()">
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalitoReg">Registrate</a>
                                </li>
                                <li sec:authorize="isAuthenticated()">
                                    <a class="dropdown-item" th:href="@{/Miperfil}">Mi perfil</a>
                                </li>
                                <li sec:authorize="hasRole('ADMIN')">
                                    <a class="dropdown-item" th:href="@{/RegistroUsuario}">Registro de usuarios</a>
                                </li>
                                <li sec:authorize="isAuthenticated()">
                                    <a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <!-- modal iniciar sesion -->
                    <div class="modal fade" id="modalitoLog" tabindex="-1" aria-labelledby="modalitoLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="container py-3">
                                        <div class="card text-white rounded-3 text-black"
                                             style="background-color: #ffb74d;">
                                            <div class="row g-0">
                                                <div class="col-lg-6">
                                                    <div class="card-body p-md-4 mx-md-3">
                                                        <div class="text-center">
                                                            <img th:src="@{/imagenes/logo/L_cuadrado.png}" style="width: 185px;"
                                                                 alt="logo">
                                                        </div>

                                                        <form id="loginform" th:action="@{/login}" method="post">
                                                            <p class="text-center">Logeate para continuar</p>

                                                            <div class="form-outline mb-3">
                                                                <input type="text" placeholder="Username" class="form-control" id="loginUsername" name="username" required>
                                                            </div>

                                                            <div class="form-outline mb-3">
                                                                <input type="password" placeholder="Contraseña" class="form-control" id="loginPassword" name="password" required>
                                                            </div>

                                                            <div class="d-flex flex-column align-items-center pt-1 mb-4 pb-1">
                                                                <button class="btn btn-block text-white fa-lg gradient-custom-2 mb-2 w-100 login-btn" type="submit">
                                                                    Log in
                                                                </button>
                                                            </div>

                                                            <div class="alert alert-danger mt-3" th:if="${param.error}" th:text="'Usuario o contraseña incorrectos.'"></div>
                                                        </form>



                                                    </div>
                                                </div>
                                                <div class="col-lg-6 d-none d-lg-flex align-items-center gradient-custom-2">
                                                    <div class="text-white px-3 py-4 p-md-3 mx-md-3">
                                                        <h4 class="mb-3">Nos alegra verte nuevamente</h4>
                                                        <p class="small mb-0">Explora todos los libros y publica tus obras,
                                                            que la
                                                            comunidad conozca de tu pasión por este arte y sigue a tus
                                                            escritores
                                                            favoritos.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal registro -->
                    <div class="modal fade" id="modalitoReg" tabindex="-1" aria-labelledby="modalitoLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="container py-3">
                                        <div class="card text-white rounded-3 text-black" style="background-color: #86bcb7;">
                                            <div class="row g-0">
                                                <div class="col-lg-6 d-none d-lg-flex align-items-center gradient-custom-2">
                                                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                                        <img src="" alt="">
                                                        <h4 class="mb-4">Libitina Virtual Books</h4>
                                                        <p class="small mb-0">El lugar donde tus ideas cobran vida...</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="card-body p-md-5 mx-md-4">
                                                        <div class="text-center">
                                                            <img th:src="@{/imagenes/logo/L_cuadrado.png}" style="width: 185px;" alt="logo">
                                                        </div>

                                                        <!-- Formulario de Registro en el Modal -->
                                                        <form th:action="@{/usuarios/guardar}" th:object="${usuario}" method="post">
                                                            <p class="text-center">Regístrate para continuar</p>

                                                            <!-- Campo para Correo -->
                                                            <div data-mdb-input-init class="form-outline mb-4">
                                                                <input type="email" th:field="*{correo}" placeholder="Correo" class="form-control" id="validationCustomEmail" required>
                                                            </div>

                                                            <!-- Campo para Username -->
                                                            <div data-mdb-input-init class="form-outline mb-4">
                                                                <input type="text" th:field="*{username}" placeholder="Username" class="form-control" id="validationCustomUsername" required>
                                                            </div>

                                                            <!-- Campo para Contraseña -->
                                                            <div data-mdb-input-init class="form-outline mb-4">
                                                                <input type="password" th:field="*{contraseña}" id="validationCustomPassword" class="form-control" placeholder="Contraseña" required>
                                                            </div>

                                                            <!-- Botón para enviar el formulario -->
                                                            <div class="d-flex flex-column align-items-center pt-1 mb-5 pb-1">
                                                                <button type="submit" class="btn btn-block text-white fa-lg gradient-custom-2 mb-3 w-100 login-btn">
                                                                    Regístrate
                                                                </button>
                                                            </div>

                                                            <div class="d-flex align-items-center justify-content-center pb-4">
                                                                <p class="mb-0 me-2">¿Ya tienes cuenta?</p>
                                                                <button type="button" data-bs-toggle="modal" data-bs-target="#modalitoLog" class="btn btn-outline-morado">
                                                                    Logeate acá
                                                                </button>
                                                            </div>
                                                        </form>
                                                        <!-- Fin del formulario -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </nav>

        <!--Menu Libro-->
        <section class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 text-center mb-4 mb-md-0">
                        <h1 class="bg-warning text-white p-2 rounded" th:text="${libro.Tipo}"></h1>
                        <div class="my-3">
                            <img class="img-fluid rounded mb-3" th:src="@{'/api/portadas/' + ${libro.ID}}" alt="Portada del libro">

                            <div class="d-flex justify-content-center align-items-center mb-2">
                                <i class="fas fa-star fa-fw text-warning mr-2"></i>
                                <span>4.9</span>
                            </div>
                            <div class="d-flex justify-content-center mb-2">
                                <button class="btn btn-outline-success mr-2" data-vote="like">
                                    <i class="far fa-thumbs-up"></i>
                                </button>
                                <button class="btn btn-outline-danger" data-vote="dislike">
                                    <i class="far fa-thumbs-down"></i>
                                </button>
                            </div>
                            <div class="progress mb-2" style="height: 20px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 95.54%;" aria-valuenow="95.54" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 4.46%;" aria-valuenow="4.46" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Columna de texto -->
                    <div class="col-12 col-md-8">
                        <h1 class="my-2" style="color: #333;" th:text="${libro.Titulo}"><small class="text-muted"></small></h1>
                        <h2 class="my-2" style="color: #555;" th:text="${libro.Titulo}"></h2>
                        <p class="lead mb-4" style="color: #666;" th:text="${libro.Descripción}"></p>
                        <div class="text-center mb-4">
                            <a class="btn btn-outline-morado" th:href="@{/VistaDeLibro(id=${libro.ID})}">Leer</a>
                        </div>
                        <h5 class="my-2" style="color: #444;">Géneros</h5>
                        <div class="mb-3">
                            <span class="badge bg-primary mx-1" th:text="${libro.categoria}">Aventura</span>
                        </div>

                        <h5 class="my-2" style="color: #444;">Estado</h5>
                        <span class="badge text-bg-danger">Finalizado</span>

                        <h5 class="my-2" style="color: #444;">Sinónimos</h5>
                        <span class="badge text-bg-dark" th:text="${libro.Titulo}"></span>
                    </div>
                </div>
            </div>
        </section>


        <footer class=" text-white text-center text-lg-start mt-5" style="background-color: #ffb74d; color: #333333;">
            <div class="container p-4 text-custom">
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Acerca de nosotros</h5>
                        <p>
                            Somos una pagina para los amantes de los libros y para los otakus
                        </p>
                    </div>

                    <!-- Columna 2 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Enlaces útiles</h5>
                        <ul class="list-unstyled">
                            <li><a href="index.html" class="text-light">Libros</a></li>
                            <li><a href="#" class="text-light">Nosotros</a></li>
                            <li><a href="SubirLibro.html" class="text-light">Sube tu libro</a></li>
                        </ul>
                    </div>

                    <!-- Columna 3 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Contacto</h5>
                        <ul class="list-unstyled">
                            <li>
                                <p class="mb-0">Dirección: Parque de los papus</p>
                            </li>
                            <li>
                                <p class="mb-0">Teléfono: +51 970 667 280</p>
                            </li>
                            <li>
                                <p class="mb-0">Email: LibitinaVirtualBooks@gmail.com</p>
                            </li>
                        </ul>
                    </div>

                    <!-- Columna 4 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <img src="imagenes/logo/L_cuadradoN.png" alt="" width="120px">
                    </div>
                </div>
            </div>

            <!-- Footer inferior -->
            <div class="text-center p-3 bg-dark" style="border-top: 1px solid #333333;">
                © 2024 Hecho por los utepinos de la UTP:
                <a class="text-white" href="index.html">Libitina Virtual Books</a>
            </div>
        </footer>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="js/main.js"></script>

    </body>

</html>