<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Color principal - #8748bc: Este color será el más destacado, ideal para botones, enlaces importantes y elementos interactivos.
    
    Color de fondo - #f8f8f8: Perfecto para el fondo principal de la página, proporcionando una base limpia y clara.
    
    Color de acento - #ffb74d: Un tono cálido y brillante para resaltar detalles o elementos secundarios.
    
    Color secundario - #86bcb7: Un verde suave que complementa bien al morado, ideal para secciones o banners.
    
    Color de texto - #333333: Un gris oscuro para el texto principal, que contraste bien con el fondo claro. -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Libitina Virtual Books|Nosotros</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link th:href="@{/imagenes/logo/L_cuadrado.png}" rel="icon" type="image/png">

        <style>
            body {
                background-color: #f8f8f8;
            }

            .text-custom {
                color: #333333;
            }

            /* modal */

            .gradient-custom-2 {
                background: #fccb90;
                background: -webkit-linear-gradient(to right, #8748bc, #8b49d1, #8b49d1, #996deb);
                background: linear-gradient(to right, #8748bc, #8b49d1, #8b49d1, #996deb);
            }

            @media (min-width: 768px) {
                .gradient-form {
                    height: 100vh !important;
                }
            }

            @media (min-width: 769px) {
                .gradient-custom-2 {
                    border-top-right-radius: .3rem;
                    border-bottom-right-radius: .3rem;
                }
            }

            .login-btn {
                transition: box-shadow 0.3s ease;
            }

            .login-btn:hover {
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
            }

            .btn-outline-morado {
                color: #8748bc;
                border-color: #8748bc;
            }

            .btn-outline-morado:hover,
            .btn-outline-morado:focus,
            .btn-outline-morado:active,
            .btn-outline-morado.active,
            .btn-outline-morado:not(:disabled):not(.disabled):active {
                color: #fff;
                background-color: #8748bc;
                border-color: #8748bc;
            }

            .section-bg {
                position: relative;
                background-color: #f8f8f8;
                overflow: hidden;
                min-height: 100vh;
            }

            .section-bg::before, .section-bg::after {
                content: '';
                position: absolute;
                border-radius: 50%;
                opacity: 0.8;
            }

            .section-bg::before {
                width: 300px;
                height: 300px;
                background-color: #8748bc; /* Color principal */
                top: -100px;
                left: -100px;
            }

            .section-bg::after {
                width: 400px;
                height: 400px;
                background-color: #f97300; /* Segundo color */
                bottom: -150px;
                right: -150px;
            }

            .card {
                border-radius: 10px;
                background-color: #f8f8f8; /* Color de fondo suave */
            }
            h2, h3 {
                color: #8748bc; /* Color primario del sitio */
            }

        </style>



    </head>

    <body>


        <!--        <div th:replace="Encabezado :: header"></div>-->
        <nav class="navbar navbar-expand-lg bg-light text-dark" data-bs-theme="light">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" th:href="@{/index}">
                    <img th:src="@{/imagenes/logo/L_largoN.png}" alt="" height="40px">
                </a>

                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menucito">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menucito">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link text-dark" th:href="@{/Libreria}">Libros</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" th:href="@{/nosotros}">Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" th:href="@{/SubirLibro}">Sube tu libro</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <!-- Opciones visibles solo para usuarios autenticados -->
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link text-dark" href="#"><i class="bi bi-heart"> Mis gustas</i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                <i class="bi bi-person"></i>
                                <span sec:authentication="name">Usuario</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li sec:authorize="isAnonymous()">
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalitoLog">Login</a>
                                </li>
                                <li sec:authorize="isAnonymous()">
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalitoReg">Registrate</a>
                                </li>
                                <li sec:authorize="isAuthenticated()">
                                    <a class="dropdown-item" th:href="@{/Miperfil}">Mi perfil</a>
                                </li>
                                <li sec:authorize="hasRole('ADMIN')">
                                    <a class="dropdown-item" th:href="@{/RegistroUsuario}">Registro de usuarios</a>
                                </li>
                                <li sec:authorize="isAuthenticated()">
                                    <a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <!-- modal iniciar sesion -->
                    <div class="modal fade" id="modalitoLog" tabindex="-1" aria-labelledby="modalitoLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="container py-3">
                                        <div class="card text-white rounded-3 text-black"
                                             style="background-color: #ffb74d;">
                                            <div class="row g-0">
                                                <div class="col-lg-6">
                                                    <div class="card-body p-md-4 mx-md-3">
                                                        <div class="text-center">
                                                            <img th:src="@{/imagenes/logo/L_cuadrado.png}" style="width: 185px;"
                                                                 alt="logo">
                                                        </div>

                                                        <form id="loginform" th:action="@{/login}" method="post">
                                                            <p class="text-center">Logeate para continuar</p>

                                                            <div class="form-outline mb-3">
                                                                <input type="text" placeholder="Username" class="form-control" id="loginUsername" name="username" required>
                                                            </div>

                                                            <div class="form-outline mb-3">
                                                                <input type="password" placeholder="Contraseña" class="form-control" id="loginPassword" name="password" required>
                                                            </div>

                                                            <div class="d-flex flex-column align-items-center pt-1 mb-4 pb-1">
                                                                <button class="btn btn-block text-white fa-lg gradient-custom-2 mb-2 w-100 login-btn" type="submit">
                                                                    Log in
                                                                </button>
                                                            </div>

                                                            <div class="alert alert-danger mt-3" th:if="${param.error}" th:text="'Usuario o contraseña incorrectos.'"></div>
                                                        </form>



                                                    </div>
                                                </div>
                                                <div class="col-lg-6 d-none d-lg-flex align-items-center gradient-custom-2">
                                                    <div class="text-white px-3 py-4 p-md-3 mx-md-3">
                                                        <h4 class="mb-3">Nos alegra verte nuevamente</h4>
                                                        <p class="small mb-0">Explora todos los libros y publica tus obras,
                                                            que la
                                                            comunidad conozca de tu pasión por este arte y sigue a tus
                                                            escritores
                                                            favoritos.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal registro -->
                    <div class="modal fade" id="modalitoReg" tabindex="-1" aria-labelledby="modalitoLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="container py-3">
                                        <div class="card text-white rounded-3 text-black" style="background-color: #86bcb7;">
                                            <div class="row g-0">
                                                <div class="col-lg-6 d-none d-lg-flex align-items-center gradient-custom-2">
                                                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                                        <img src="" alt="">
                                                        <h4 class="mb-4">Libitina Virtual Books</h4>
                                                        <p class="small mb-0">El lugar donde tus ideas cobran vida...</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="card-body p-md-5 mx-md-4">
                                                        <div class="text-center">
                                                            <img th:src="@{/imagenes/logo/L_cuadrado.png}" style="width: 185px;" alt="logo">
                                                        </div>

                                                        <!-- Formulario de Registro en el Modal -->
                                                        <form th:action="@{/usuarios/guardar}" th:object="${usuario}" method="post">
                                                            <p class="text-center">Regístrate para continuar</p>

                                                            <!-- Campo para Correo -->
                                                            <div data-mdb-input-init class="form-outline mb-4">
                                                                <input type="email" th:field="*{correo}" placeholder="Correo" class="form-control" id="validationCustomEmail" required>
                                                            </div>

                                                            <!-- Campo para Username -->
                                                            <div data-mdb-input-init class="form-outline mb-4">
                                                                <input type="text" th:field="*{username}" placeholder="Username" class="form-control" id="validationCustomUsername" required>
                                                            </div>

                                                            <!-- Campo para Contraseña -->
                                                            <div data-mdb-input-init class="form-outline mb-4">
                                                                <input type="password" th:field="*{contraseña}" id="validationCustomPassword" class="form-control" placeholder="Contraseña" required>
                                                            </div>

                                                            <!-- Botón para enviar el formulario -->
                                                            <div class="d-flex flex-column align-items-center pt-1 mb-5 pb-1">
                                                                <button type="submit" class="btn btn-block text-white fa-lg gradient-custom-2 mb-3 w-100 login-btn">
                                                                    Regístrate
                                                                </button>
                                                            </div>

                                                            <div class="d-flex align-items-center justify-content-center pb-4">
                                                                <p class="mb-0 me-2">¿Ya tienes cuenta?</p>
                                                                <button type="button" data-bs-toggle="modal" data-bs-target="#modalitoLog" class="btn btn-outline-morado">
                                                                    Logeate acá
                                                                </button>
                                                            </div>
                                                        </form>
                                                        <!-- Fin del formulario -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </nav>

        <section class="section-bg">
            <!-- Presentación -->
            <div class="container d-flex justify-content-center align-items-center" style="height: 50vh">
                <img th:src="@{/imagenes/logo/L_cuadradoN.png}" alt="Libitina Virtual Books Logo" class="img-fluid">
            </div>

            <!-- Quiénes somos -->
            <div class="container py-5">
                <h2 class="text-center">Quiénes somos</h2>
                <p class="text-center mt-3">
                    Libitina Virtual Books es una plataforma gratuita dedicada a compartir libros de diversas categorías,
                    facilitando el acceso a la lectura sin costo alguno. Nuestro objetivo es ayudar a las personas a encontrar
                    los libros que necesitan sin barreras económicas ni dificultades.
                </p>
            </div>

            <!-- Misión y Visión -->
            <div class="container py-5">
                <h2 class="text-center">Misión y Visión</h2>
                <div class="row mt-4">
                    <!-- Misión -->
                    <div class="col-md-6">
                        <div class="card shadow p-4">
                            <h3 class="text-center">Misión</h3>
                            <p class="mt-3">
                                Fomentar el hábito de la lectura proporcionando una plataforma accesible y gratuita donde los usuarios puedan
                                compartir, leer y descubrir libros que inspiren, eduquen y enriquezcan sus vidas.
                            </p>
                        </div>
                    </div>
                    <!-- Visión -->
                    <div class="col-md-6">
                        <div class="card shadow p-4">
                            <h3 class="text-center">Visión</h3>
                            <p class="mt-3">
                                Ser la biblioteca virtual de referencia para lectores de todo el mundo, promoviendo el conocimiento,
                                la cultura y la inclusión a través de una comunidad global apasionada por los libros.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class=" text-white text-center text-lg-start" style="background-color: #ffb74d; color: #333333;">
            <div class="container p-4 text-custom">
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Acerca de nosotros</h5>
                        <p>
                            Somos una pagina para los amantes de los libros y para los otakus
                        </p>
                    </div>

                    <!-- Columna 2 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Enlaces útiles</h5>
                        <ul class="list-unstyled">
                            <li><a href="index.html" class="text-light">Libros</a></li>
                            <li><a href="#" class="text-light">Nosotros</a></li>
                            <li><a href="SubirLibro.html" class="text-light">Sube tu libro</a></li>
                        </ul>
                    </div>

                    <!-- Columna 3 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Contacto</h5>
                        <ul class="list-unstyled">
                            <li>
                                <p class="mb-0">Dirección: Parque de los papus</p>
                            </li>
                            <li>
                                <p class="mb-0">Teléfono: +51 970 667 280</p>
                            </li>
                            <li>
                                <p class="mb-0">Email: LibitinaVirtualBooks@gmail.com</p>
                            </li>
                        </ul>
                    </div>

                    <!-- Columna 4 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <img src="imagenes/logo/L_cuadradoN.png" alt="" width="120px">
                    </div>
                </div>
            </div>

            <!-- Footer inferior -->
            <div class="text-center p-3 bg-dark" style="border-top: 1px solid #333333;">
                © 2024 Hecho por los utepinos de la UTP:
                <a class="text-white" href="index.html">Libitina Virtual Books</a>
            </div>
        </footer>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="js/main.js"></script>

    </body>

</html>