<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Color principal - #8748bc: Este color será el más destacado, ideal para botones, enlaces importantes y elementos interactivos.
    
    Color de fondo - #f8f8f8: Perfecto para el fondo principal de la página, proporcionando una base limpia y clara.
    
    Color de acento - #ffb74d: Un tono cálido y brillante para resaltar detalles o elementos secundarios.
    
    Color secundario - #86bcb7: Un verde suave que complementa bien al morado, ideal para secciones o banners.
    
    Color de texto - #333333: Un gris oscuro para el texto principal, que contraste bien con el fondo claro. -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Libitina Virtual Books|Subir Libro</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link th:href="@{/imagenes/logo/L_cuadrado.png}" rel="icon" type="image/png">

        <style>
            body {
                background-color: #f8f8f8;
            }

            .text-custom {
                color: #333333;
            }

            .custom-btn {
                background-color: rgb(110, 56, 155);
                color: white;
            }

            .custom-btn:hover {
                background-color: rgb(74, 37, 104);
                color: white;
            }

            .estrella-amarilla {
                color: #ffdc80;
            }

            .card-hover {
                transition: transform 0.3s ease, box-shadow 0.3s ease;
            }

            .card-hover:hover {
                transform: scale(1.03);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }

            /* modal */

            .gradient-custom-2 {
                background: #fccb90;
                background: -webkit-linear-gradient(to right, #8748bc, #8b49d1, #8b49d1, #996deb);
                background: linear-gradient(to right, #8748bc, #8b49d1, #8b49d1, #996deb);
            }

            @media (min-width: 768px) {
                .gradient-form {
                    height: 100vh !important;
                }
            }

            @media (min-width: 769px) {
                .gradient-custom-2 {
                    border-top-right-radius: .3rem;
                    border-bottom-right-radius: .3rem;
                }
            }

            .login-btn {
                transition: box-shadow 0.3s ease;
            }

            .login-btn:hover {
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
            }

            .btn-outline-morado {
                color: #8748bc;
                border-color: #8748bc;
            }

            .btn-outline-morado:hover,
            .btn-outline-morado:focus,
            .btn-outline-morado:active,
            .btn-outline-morado.active,
            .btn-outline-morado:not(:disabled):not(.disabled):active {
                color: #fff;
                background-color: #8748bc;
                border-color: #8748bc;
            }

            .accordion-header .accordion-button {
                background-color: #f8f8f8;
                color: #333333;
                /* Para que el texto sea blanco */
            }

            .accordion-button:not(.collapsed) {
                background-color: #8748bc;
                color: white;
            }

            .accordion-button::after {
                filter: brightness(0) invert(1);
                /* Para hacer el ícono de flecha blanco */
            }
        </style>



    </head>

    <body>

        <nav class="navbar navbar-expand-lg bg-light text-dark" data-bs-theme="light">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" th:href="@{/index}">
                    <img th:src="@{/imagenes/logo/L_largoN.png}" alt="" height="40px">
                </a>

                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menucito">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menucito">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link text-dark" th:href="@{/Libreria}">Libros</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" th:href="@{/nosotros}">Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" th:href="@{/SubirLibro}">Sube tu libro</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <!-- Opciones visibles solo para usuarios autenticados -->
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link text-dark" href="#"><i class="bi bi-heart"> Mis gustas</i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                <i class="bi bi-person"></i>
                                <span sec:authentication="name">Usuario</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li sec:authorize="isAnonymous()">
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalitoLog">Login</a>
                                </li>
                                <li sec:authorize="isAnonymous()">
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalitoReg">Registrate</a>
                                </li>
                                <li sec:authorize="isAuthenticated()">
                                    <a class="dropdown-item" th:href="@{/Miperfil}">Mi perfil</a>
                                </li>
                                <li sec:authorize="hasRole('ADMIN')">
                                    <a class="dropdown-item" th:href="@{/RegistroUsuario}">Registro de usuarios</a>
                                </li>
                                <li sec:authorize="isAuthenticated()">
                                    <a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <!-- modal iniciar sesion -->
                    <div class="modal fade" id="modalitoLog" tabindex="-1" aria-labelledby="modalitoLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="container py-3">
                                        <div class="card text-white rounded-3 text-black"
                                             style="background-color: #ffb74d;">
                                            <div class="row g-0">
                                                <div class="col-lg-6">
                                                    <div class="card-body p-md-4 mx-md-3">
                                                        <div class="text-center">
                                                            <img th:src="@{/imagenes/logo/L_cuadrado.png}" style="width: 185px;"
                                                                 alt="logo">
                                                        </div>

                                                        <form id="loginform" th:action="@{/login}" method="post">
                                                            <p class="text-center">Logeate para continuar</p>

                                                            <div class="form-outline mb-3">
                                                                <input type="text" placeholder="Username" class="form-control" id="loginUsername" name="username" required>
                                                            </div>

                                                            <div class="form-outline mb-3">
                                                                <input type="password" placeholder="Contraseña" class="form-control" id="loginPassword" name="password" required>
                                                            </div>

                                                            <div class="d-flex flex-column align-items-center pt-1 mb-4 pb-1">
                                                                <button class="btn btn-block text-white fa-lg gradient-custom-2 mb-2 w-100 login-btn" type="submit">
                                                                    Log in
                                                                </button>
                                                            </div>

                                                            <div class="alert alert-danger mt-3" th:if="${param.error}" th:text="'Usuario o contraseña incorrectos.'"></div>
                                                        </form>



                                                    </div>
                                                </div>
                                                <div class="col-lg-6 d-none d-lg-flex align-items-center gradient-custom-2">
                                                    <div class="text-white px-3 py-4 p-md-3 mx-md-3">
                                                        <h4 class="mb-3">Nos alegra verte nuevamente</h4>
                                                        <p class="small mb-0">Explora todos los libros y publica tus obras,
                                                            que la
                                                            comunidad conozca de tu pasión por este arte y sigue a tus
                                                            escritores
                                                            favoritos.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal registro -->
                    <div class="modal fade" id="modalitoReg" tabindex="-1" aria-labelledby="modalitoLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="container py-3">
                                        <div class="card text-white rounded-3 text-black" style="background-color: #86bcb7;">
                                            <div class="row g-0">
                                                <div class="col-lg-6 d-none d-lg-flex align-items-center gradient-custom-2">
                                                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                                        <img src="" alt="">
                                                        <h4 class="mb-4">Libitina Virtual Books</h4>
                                                        <p class="small mb-0">El lugar donde tus ideas cobran vida...</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="card-body p-md-5 mx-md-4">
                                                        <div class="text-center">
                                                            <img th:src="@{/imagenes/logo/L_cuadrado.png}" style="width: 185px;" alt="logo">
                                                        </div>

                                                        <!-- Formulario de Registro en el Modal -->
                                                        <form th:action="@{/usuarios/guardar}" th:object="${usuario}" method="post">
                                                            <p class="text-center">Regístrate para continuar</p>

                                                            <!-- Campo para Correo -->
                                                            <div data-mdb-input-init class="form-outline mb-4">
                                                                <input type="email" th:field="*{correo}" placeholder="Correo" class="form-control" id="validationCustomEmail" required>
                                                            </div>

                                                            <!-- Campo para Username -->
                                                            <div data-mdb-input-init class="form-outline mb-4">
                                                                <input type="text" th:field="*{username}" placeholder="Username" class="form-control" id="validationCustomUsername" required>
                                                            </div>

                                                            <!-- Campo para Contraseña -->
                                                            <div data-mdb-input-init class="form-outline mb-4">
                                                                <input type="password" th:field="*{contraseña}" id="validationCustomPassword" class="form-control" placeholder="Contraseña" required>
                                                            </div>

                                                            <!-- Botón para enviar el formulario -->
                                                            <div class="d-flex flex-column align-items-center pt-1 mb-5 pb-1">
                                                                <button type="submit" class="btn btn-block text-white fa-lg gradient-custom-2 mb-3 w-100 login-btn">
                                                                    Regístrate
                                                                </button>
                                                            </div>

                                                            <div class="d-flex align-items-center justify-content-center pb-4">
                                                                <p class="mb-0 me-2">¿Ya tienes cuenta?</p>
                                                                <button type="button" data-bs-toggle="modal" data-bs-target="#modalitoLog" class="btn btn-outline-morado">
                                                                    Logeate acá
                                                                </button>
                                                            </div>
                                                        </form>
                                                        <!-- Fin del formulario -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </nav>

        <div class="container py-4">
            <div class="row justify-content-center mb-3">
                <div class="col-md-8">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><h3>Reglas de subida</h3></button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse bg-light collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <h5>Limitaciones de la subida</h5>
                                            <p>Formatos admitidos: jpg y png</p>
                                            <p>Límite de subida por archivo 4 MB</p>
                                            <p>Dimensiones mínimas de la imagen: 400px</p>
                                            <p>Dimensiones máximas de la imagen: 8000px</p>
                                            <h5>Instrucciones URL</h5>
                                            <p>Los enlaces URL deben ser de drive, instrucciones:</p>
                                            <p>1) Sube tu obra a tu google Drive</p>
                                            <p>2) haz clic en compartir y cambia de "restringido" a "Cualquier persona con el enlace"</p>
                                            <p>3) Cambialo a modo Lector</p>
                                            <p>4) Haz clic en "Copiar enlace" y pega el enlace en el espacio del URL de la pagina</p>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <h5>Subidas permitidas</h5>
                                            <p>Solo se permiten subir Libros, Cuentos, Novelas, Mangas, comics y hacer
                                                referencia al autor original.</p>
                                            <h5>Subidas no permitidas</h5>
                                            <p>HIstorias sexuales</p>
                                            <p>Obras sin referenciar al autor</p>
                                            <p>No se podra editar el archivo pdf que se subira a la pagina</p>
                                            <p>No se permite subir el libro nuevamente</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card mt-4">
                        <div class="card-header text-white" style="background-color: #8748bc;">
                            <h3>Subir Libro</h3>
                        </div>
                        <div class="card-body">
                            <form class="row g-3" th:action="@{/libros/guardar}" th:object="${libro}" method="post" enctype="multipart/form-data">
                                <div class="col-md-12">
                                    <label for="inputEmail4" class="form-label">Obra:</label>
                                    <input type="text" class="form-control" id="inputEmail4" placeholder="Introduce nombre de la obra" th:field="*{Titulo}">
                                </div>
                                <div class="col-12">
                                    <label for="inputAddress" class="form-label">Descripción</label>
                                    <textarea id="descripcion" class="form-control" placeholder="Introduce la descripción de tu obra" th:field="*{Descripción}"></textarea>
                                </div>
                                <div class="col-md-6">
                                    <label for="portada" class="form-label">Portada del libro</label>
                                    <input type="file" name="archivoPortada" class="form-control" id="portada" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="url" class="form-label">Url del libro</label>
                                    <input type="text" placeholder="Sube link del libro (Drive)" name="url" class="form-control" id="url" th:field="*{url}">
                                </div>
                                <div class="col-md-6">
                                    <label for="categoria" class="form-label">Categoría</label>
                                    <select class="form-select" id="categoria" name="categoria" th:field="*{categoria}">
                                        <option value="" disabled selected>Seleccione una categoría</option>
                                        <option th:each="categoria : ${categorias}" 
                                                th:value="${categoria.tipo}" 
                                                th:text="${categoria.tipo}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="tipo" class="form-label">Tipo</label>
                                    <select class="form-select" id="tipo" name="tipo" th:field="*{tipo}">
                                        <option value="" disabled selected>Seleccione un tipo</option>
                                        <option th:each="tipo : ${tipos}" 
                                                th:value="${tipo.tipo}" 
                                                th:text="${tipo.tipo}">
                                        </option>
                                    </select>
                                </div>

                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                        <label class="form-check-label" for="gridCheck">
                                            Acepto <a href="" data-bs-toggle="modal" data-bs-target="#modalito">Terminos
                                                y
                                                condiciones</a>
                                        </label>
                                        <div class="modal" id="modalito">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <span>Términos y Condiciones de Libitina Virtual Books</span>
                                                    </div>
                                                    <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                                                        <p>
                                                            <Strong>1. Aceptación de los terminos</Strong><br>
                                                            Al acceder y utilizar el sitio web Libitina Virtual Books
                                                            ("el
                                                            Sitio"),
                                                            aceptas, sin limitación ni condición alguna, cumplir con
                                                            estos
                                                            Términos y Condiciones ("Términos").
                                                            Este es un contrato vinculante entre tú ("el Usuario") y
                                                            Libitina Virtual Books ("nosotros" o "el Sitio").
                                                            Si no estás de acuerdo con todos los términos y condiciones
                                                            descritos aquí, no deberás utilizar el Sitio ni
                                                            sus servicios. Si continúas utilizando el Sitio, se
                                                            entenderá
                                                            que has aceptado estos Términos en su totalidad. <br>
                                                            <Strong>2. Descripción del Servicio</Strong><br>
                                                            Libitina Virtual Books es una plataforma en línea que
                                                            permite a
                                                            los usuarios subir, compartir, descargar y leer
                                                            libros electrónicos, principalmente en formato PDF. Como
                                                            usuario, puedes compartir tus propias obras literarias con
                                                            la comunidad, descargar contenido subido por otros, y
                                                            participar
                                                            en debates literarios dentro del marco de las reglas
                                                            del Sitio.<br>
                                                            <Strong>3. Registro de Usuario y Cuentas</Strong><br>
                                                            Para poder utilizar ciertas funciones del Sitio, debes crear
                                                            una
                                                            cuenta. Al hacerlo, te comprometes a proporcionar
                                                            información precisa, actualizada y completa durante el
                                                            proceso
                                                            de registro. Eres responsable de mantener la seguridad de
                                                            tu cuenta y de la confidencialidad de tu contraseña. No
                                                            debes
                                                            compartir tu cuenta ni permitir que otros accedan a ella.
                                                            Si sospechas que tu cuenta ha sido comprometida, deberás
                                                            notificarlo inmediatamente a Libitina Virtual Books.<br>
                                                            <Strong>3.1. Edad Mínima</Strong><br>
                                                            Debes tener al menos 18 años para registrarte en el Sitio.
                                                            Si
                                                            eres menor de 18 años, no debes usar el Sitio bajo ninguna
                                                            circunstancia.<br>
                                                            <Strong>4. Uso Aceptable del Sitio</Strong><br>
                                                            Al utilizar el Sitio, aceptas no:<br>
                                                            -Subir, publicar o distribuir contenido que sea difamatorio,
                                                            ofensivo, obsceno, ilegal o que infrinja los derechos de
                                                            autor,
                                                            marcas comerciales u otros derechos de propiedad intelectual
                                                            de
                                                            terceros. <br>
                                                            -Utilizar el Sitio para distribuir virus, malware o
                                                            cualquier
                                                            otro código dañino.<br>
                                                            -Intentar obtener acceso no autorizado a nuestros sistemas o
                                                            realizar cualquier actividad que pueda interrumpir el
                                                            funcionamiento del Sitio.<br>
                                                            -Subir contenido que no tengas derecho a compartir bajo
                                                            ninguna
                                                            ley o relación contractual.<br>
                                                            <Strong>5. Subida de Contenido</Strong><br>
                                                            Al subir libros o cualquier otro tipo de contenido al Sitio,
                                                            declaras y garantizas que posees todos los derechos
                                                            necesarios
                                                            sobre el contenido, o que tienes permiso del propietario de
                                                            los
                                                            derechos para subir y distribuir dicho contenido. Además, al
                                                            subir contenido, otorgas a Libitina Virtual Books una
                                                            licencia
                                                            no exclusiva, perpetua, mundial, irrevocable, libre de
                                                            regalías
                                                            y transferible para utilizar, reproducir, distribuir,
                                                            mostrar
                                                            públicamente, modificar y crear obras derivadas de tu
                                                            contenido,
                                                            incluyendo pero no limitándose a promocionar el Sitio y sus
                                                            servicios.<br>
                                                            <Strong>6. Política de Derechos de Autor</Strong><br>
                                                            Libitina Virtual Books respeta los derechos de propiedad
                                                            intelectual de otros y espera que los usuarios hagan lo
                                                            mismo.
                                                            Si crees que tu obra ha sido copiada de manera que
                                                            constituya
                                                            una infracción de derechos de autor, debes notificarlo al
                                                            Sitio
                                                            a través de los canales apropiados proporcionados en la
                                                            sección
                                                            de contacto.<br>
                                                            <Strong>6. Política de Derechos de Autor</Strong><br>
                                                            Libitina Virtual Books respeta los derechos de propiedad
                                                            intelectual de otros y espera que los usuarios hagan lo
                                                            mismo.
                                                            Si crees que tu obra ha sido copiada de manera que
                                                            constituya
                                                            una infracción de derechos de autor, debes notificarlo al
                                                            Sitio
                                                            a través de los canales apropiados proporcionados en la
                                                            sección
                                                            de contacto.<br>
                                                            <Strong>6.1. Procedimiento para Presentar Reclamaciones de
                                                                Infracción de Derechos de Autor</Strong><br>
                                                            Para presentar una reclamación por infracción de derechos de
                                                            autor, envía una notificación que incluya la siguiente
                                                            información: <br>
                                                            -Una descripción de la obra protegida por derechos de autor
                                                            que
                                                            alegas ha sido infringida.<br>
                                                            -Una descripción del lugar en el Sitio donde se encuentra el
                                                            material que alegas infringe los derechos de autor.<br>
                                                            -Una declaración de que crees de buena fe que el uso del
                                                            material
                                                            de la manera reclamada no está autorizado por el propietario
                                                            del
                                                            copyright, su agente o la ley.<br>
                                                            -Tu información de contacto (nombre, dirección, número de
                                                            teléfono y dirección de correo electrónico).
                                                            <br>
                                                            <Strong>7. Contenido Prohibido </Strong><br>
                                                            Libitina Virtual Books prohíbe estrictamente la subida y
                                                            distribución de los siguientes tipos de contenido:<br>
                                                            -Contenido que viole cualquier ley, regulación o norma
                                                            aplicable. <br>
                                                            -Contenido que promueva la violencia, odio, discriminación o
                                                            actividades ilegales.<br>
                                                            -Contenido que sea explícitamente sexual, obsceno o
                                                            gays.<br>
                                                            -Contenido que infrinja los derechos de propiedad
                                                            intelectual de
                                                            terceros, incluidos derechos de autor, marcas comerciales y
                                                            patentes.<br>
                                                            -Contenido que contenga información privada o personal de
                                                            otra
                                                            persona sin su consentimiento.<br>
                                                            <Strong>8. Exención de Responsabilidad</Strong><br>
                                                            Libitina Virtual Books no se hace responsable de los
                                                            contenidos
                                                            publicados por los usuarios. No garantizamos la exactitud,
                                                            integridad o calidad de los contenidos subidos. Bajo ninguna
                                                            circunstancia seremos responsables por cualquier pérdida o
                                                            daño
                                                            causado por la confianza depositada en cualquier contenido
                                                            publicado en el Sitio.<br>
                                                            <Strong>9. Limitación de Responsabilidad</Strong><br>
                                                            Libitino Virtual Books no será responsable, en la medida
                                                            máxima
                                                            permitida por la ley, por ningún daño directo, indirecto,
                                                            incidental, especial, consecuente o ejemplar que resulte de:
                                                            <br>
                                                            -El uso o la incapacidad de uso del Sitio.<br>
                                                            -El acceso no autorizado o la alteración de tus
                                                            transmisiones o
                                                            datos.<br>
                                                            -Declaraciones o conductas de cualquier tercero en el
                                                            Sitio.<br>
                                                            <Strong>10. Privacidad y Datos Personales </Strong><br>
                                                            El tratamiento de tus datos personales se rige por nuestra
                                                            [Política de Privacidad], la cual forma parte integral de
                                                            estos
                                                            Términos. Al aceptar estos Términos, también aceptas la
                                                            forma en
                                                            que manejamos tu información personal.<br>
                                                            <Strong>11. Terminación del Servicio </Strong><br>
                                                            Nos reservamos el derecho de suspender o terminar tu acceso
                                                            al
                                                            Sitio en cualquier momento, sin previo aviso, si violas
                                                            cualquiera de estos Términos. Además, nos reservamos el
                                                            derecho
                                                            de eliminar cualquier contenido que, a nuestra discreción,
                                                            consideremos inapropiado o que viole estos Términos.<br>
                                                            <Strong>12. Modificaciones de los Término </Strong><br>
                                                            Podemos modificar estos Términos en cualquier momento. Te
                                                            notificaremos sobre cambios importantes mediante la
                                                            publicación
                                                            de los Términos actualizados en el Sitio. Es tu
                                                            responsabilidad
                                                            revisar periódicamente los Términos actualizados. Si
                                                            continúas
                                                            utilizando el Sitio después de la publicación de los
                                                            cambios, se
                                                            considerará que aceptas los Términos modificados.<br>
                                                            <Strong>13. Renuncia a Demandas y Aceptación de
                                                                Compensación</Strong><br>
                                                            Al aceptar estos Términos, renuncias expresamente a tu
                                                            derecho a
                                                            presentar cualquier tipo de demanda, acción legal o
                                                            reclamación
                                                            contra Libitino Virtual Books, sus empleados, afiliados,
                                                            socios
                                                            o agentes. Además, aceptas que, al aceptar estos Términos,
                                                            nos
                                                            estás regalando simbólicamente la cantidad de 50 soles (o su
                                                            equivalente en tu moneda local) y, en consecuencia,
                                                            renuncias a
                                                            cualquier intento de recuperarlos o demandar por ello. Esta
                                                            cláusula es vinculante y no podrá ser revocada ni alterada
                                                            en
                                                            ningún tribunal de justicia.<br>
                                                            <Strong>14. Ley Aplicable y Jurisdicción</Strong><br>
                                                            Estos Términos se regirán e interpretarán de acuerdo con las
                                                            leyes del país donde se encuentra el servidor del Sitio, sin
                                                            dar
                                                            efecto a sus principios de conflicto de leyes. Cualquier
                                                            disputa
                                                            que surja en relación con estos Términos será sometida a la
                                                            jurisdicción exclusiva de los tribunales del país
                                                            mencionado.<br>
                                                            <Strong>15. Disposiciones Generales </Strong><br>
                                                            Si alguna disposición de estos Términos se considera
                                                            inválida o
                                                            inaplicable, dicha disposición será eliminada o limitada en
                                                            la
                                                            medida mínima necesaria, y las disposiciones restantes de
                                                            estos
                                                            Términos permanecerán en pleno vigor y efecto.<br>
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn custom-btn"
                                                                data-bs-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn custom-btn" id="submitBtn">Subir Libro</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>





        <footer class=" text-white text-center text-lg-start mt-5" style="background-color: #ffb74d; color: #333333;">
            <div class="container p-4 text-custom">
                <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Acerca de nosotros</h5>
                        <p>
                            Somos una pagina para los amantes de los libros y para los otakus
                        </p>
                    </div>

                    <!-- Columna 2 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Enlaces útiles</h5>
                        <ul class="list-unstyled">
                            <li><a href="index.html" class="text-light">Libros</a></li>
                            <li><a href="#" class="text-light">Nosotros</a></li>
                            <li><a href="SubirLibro.html" class="text-light">Sube tu libro</a></li>
                        </ul>
                    </div>

                    <!-- Columna 3 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Contacto</h5>
                        <ul class="list-unstyled">
                            <li>
                                <p class="mb-0">Dirección: Parque de los papus</p>
                            </li>
                            <li>
                                <p class="mb-0">Teléfono: +51 970 667 280</p>
                            </li>
                            <li>
                                <p class="mb-0">Email: LibitinaVirtualBooks@gmail.com</p>
                            </li>
                        </ul>
                    </div>

                    <!-- Columna 4 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <img src="imagenes/logo/L_cuadradoN.png" alt="" width="120px">
                    </div>
                </div>
            </div>

            <!-- Footer inferior -->
            <div class="text-center p-3 bg-dark" style="border-top: 1px solid #333333;">
                © 2024 Hecho por los utepinos de la UTP:
                <a class="text-white" href="index.html">Libitina Virtual Books</a>
            </div>
        </footer>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="js/main.js"></script>

    </body>

</html>